<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.inimisbah.employeedirectory"
        versionCode = "10"
        version     = "0.0.1">

    <name>Employee Directory</name>

    <description>
        A simple employee directory application
    </description>

    <author href="http://google.com" email="misbah.qadri@gmail.com">
        Misbah
    </author>
</widget>